---
- name: Install dependencies
  apt:
    name: "{{ item }}"
    state: latest
  loop: "{{ docker_dependencies }}"

- name: Add Docker GPG key to apt
  apt_key:
    url: "{{ docker_apt_gpg_key }}"
    state: present

- name: Add Docker repository
  apt_repository:
    repo: "{{ docker_deb_repository }}"
    state: present

- name: Install Docker
  apt:
    name: "{{ docker_edition }}"
    state: latest
    update_cache: yes
  notify:
    - enable docker
    - restart docker

- name: Ensure handlers are notified now for the Docker service changes to take effect
  meta: flush_handlers

- name: Add user to the docker group
  user:
    name: "{{ docker_user }}"
    groups: docker
    append: yes
  when: docker_user is defined

- name: Install dependencies for Docker SDK for Python
  apt:
    name: "{{ item }}"
    state: latest
  loop: "{{ docker_sdk_for_python_dependencies }}"
  when: docker_install_sdk_for_python | bool

- name: Install Docker SDK for Python
  pip:
    name: docker
  when: docker_install_sdk_for_python | bool
