---
- name: Install required system packages
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - software-properties-common
    - python-pip
    - python3-pip
    - virtualenv
    - python3-setuptools

- name: Add Docker GPG key to apt
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: Install Docker
  apt:
    name: docker-ce
    state: latest
    update_cache: yes
  notify:
    - enable docker
    - restart docker

- name: Ensure handlers are notified now for the Docker service changes to take effect
  meta: flush_handlers

- name: Install Docker module for Python
  pip:
    name: docker

- name: Add docker user to the docker group
  user:
    name: "{{ docker_user }}"
    groups: docker
    append: yes
